
/* Admin - Settings page */

h2 span {
    font-size: 13px;
    margin-left: 5px;
    display: inline-block;
}

.wpcfm-response {
    display: none;
    margin-top: 10px;
    padding: 10px 12px;
    background-color: #fff;
    border-left: 4px solid #7ad03a;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.wpcfm-error {
    margin-top: 10px;
    padding: 10px 12px;
    background-color: #fff;
    border-left: 4px solid #dd3d36;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.wpcfm-action-buttons {
    padding: 10px;
    background: #fafafa;
}

.wpcfm-bundles {
    font-size: 13px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.wpcfm-bundles .bundle-name {
    border: none;
    box-shadow: none;
    background: none;
}

.bundles-hidden {
    display: none;
}

.bundle-select-wrapper {
    height: 300px;
}

.remove-bundle {
    float: right;
    color: #a00;
    cursor: pointer;
}

.remove-bundle:hover {
    color: red;
}

.clear {
    clear: both;
}

/* Bundle Actions */

.bundle-row {
    border-top: 1px solid #ccc;
    background: #fff;
}

.bundle-row .bundle-actions {
    float: right;
}

.bundle-row .bundle-row-inner {
    display: none;
}

.bundle-row.active .bundle-row-inner {
    display: block;
}

.bundle-row .bundle-header,
.bundle-row .bundle-row-inner {
    padding: 10px;
}

.bundle-row.active .bundle-header {
    color: #fff;
    background-color: #21759B;
}

.bundle-row .bundle-toggle {
    color: #0074a2;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    cursor: pointer;
}

.bundle-row.active .bundle-toggle {
    color: #fff;
}

.bundle-row .no-actions {
    display: none;
}

.bundle-row.unsaved .bundle-actions .button {
    display: none;
}

.bundle-row.unsaved .no-actions {
    display: inline;
}

/* MultiSelect */

.ms-parent .ms-choice {
    display: none;
}

/* Diff */

.wpcfm-diff .original,
.wpcfm-diff .changed {
    display: none;
}

.wpcfm-diff .diff {
    background: #fff;
    padding: 16px;
    overflow: auto;
    font-family: "Courier New", sans-serif;
}

ins {
    background-color: #c6ffc6;
    text-decoration: none;
}

del {
    text-decoration: none;
    background-color: #ffc6c6;
}

/* Media modal hacks */

.media-modal,
.media-modal-backdrop {
    display: none;
}

.media-frame-title,
.media-frame-content {
    left: 0;
}

.media-frame-router {
    left: 10px;
}

.media-frame-content {
    bottom: 0;
    overflow: auto;
}